@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: linear-gradient(0deg, rgba(94, 82, 167, 0.05), rgba(94, 82, 167, 0.05)), #FFFBFF;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--foreground-rgb);
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.strikethrough.completed {
  background: #BEFFDB;
}
.strikethrough::before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background: #198754;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all .3s ease-in-out;
}
.strikethrough.completed::before {
  width: 95%;
}
.switch {
  position: relative;
  width: 2.75rem;
  height: 1.5rem;
  border-radius: 30px;
  display: flex;
}
.switch:after {
  content: " ";
  position: absolute;
  left: 0;
  width: 2.75rem;
  height: 1.5rem;
  background: #e5e7eb;
  border-radius: 30px;
}
.switch__label {
  display: inline-block;
  width: 22.3%;
  padding: 8px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  transition: color 200ms ease-out;
  z-index: 1;
}
/* .switch__label:hover {
  color: white;
} */

.switch__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.switch__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.switch input:first-of-type:checked + label:first-of-type {
  color: #006C49;
}
.switch input:last-of-type:checked + label:last-of-type {
  color: #A43A3C;
}
.switch__indicator {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #C9C3DC;
  border-radius: 50%;
  transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
  transform: translate3d(0.8rem, 0, 0);
  border: 1px solid rgb(209 213 219);
  z-index: 9;
}
.switch input#one:checked ~ .switch__indicator, .switch input:first-of-type:checked ~ .switch__indicator  {
  background: #006C49;
  transform: translate3d(0.1rem, 0, 0);
  box-shadow: 1px -1px 10px #c9c3dc;
}
.switch input#two:checked ~ .switch__indicator, .switch input:nth-of-type(2):checked ~ .switch__indicator {
  background: #C9C3DC;
  transform: translate3d(0.8rem, 0, 0);
  box-shadow: 1px -1px 10px #c9c3dc;
}
.switch input#three:checked ~ .switch__indicator, .switch input:last-of-type:checked ~ .switch__indicator {
  background: #A43A3C;
  transform: translate3d(1.4rem, 0, 0);
  box-shadow: 1px -1px 10px #c9c3dc;
}
.switch input[type=radio]:not(:checked), .switch input[type=radio]:checked {
  display: none;
}
.last-square {
  @media only screen and (min-width: 1024px) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
  } 
}